@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('colorPalette.css');

@import url('menu.css');

/* @import url('header.css'); */

body {
    background-color: var(--white);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.headerTop{
    width: 100%;
    height: 60px;
    background-color: var(--gray-900);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}
.leftHeader{
    width: 250px;
    height: 40px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.logo{
    width: 40px;
    height: 40px;
    background-color: var(--gray-800);
    border: 1px solid var(--gray-700);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    transition: all 0.2s ease;
}
.logo:hover{
    background-color: var(--blue-normal);
    border: 1px solid var(--blue-light);
    cursor: pointer;
}
.titlePage{
    color: var(--gray-300);
    font-weight: 600;
    font-size: 21px;
}
.centerHeader{
    width: 500px;
    height: 40px;
    background-color: var(--gray-800);
    border-radius: 8px;
    border: 1px solid var(--gray-700);
    color: var(--gray-300);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 3px 10px;
}
.searchBox{
    width: 100%;
    background-color: transparent;
    color: var(--white);
    border: none;
    outline: none;
}
.rightHeader{
    width: 250px;
    height: 40px;
    display: flex;
    gap: 10px;
    justify-content: right;
    align-items: center;
}

.btnAgregar{
    width: 180px;
    height: 40px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 12px;
    border: 1px solid var(--green-normal);
    border-radius: 8px;
    background-color: var(--green-normal);
    color: var(--white);
    transition: all 0.2s ease;
}
.btnAgregar:hover{
    background-color: var(--green-hover);
    cursor: pointer;
}

.backFooter{
    width: 100%;
    height: 40px;
}
.footer{
    width: 100%;
    background-color: var(--gray-800);
    color: var(--gray-400);
    padding: 10px;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    position: fixed;
    bottom: 0;
}
