@import url('reset.css');
@import url('colorPalette.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded');

@view-transition {
    navigation: auto;
}


.select-wrapper {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

select {
    appearance: none;
    /* Oculta la flecha por defecto */
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    padding: 10px 40px 10px 15px;
    font-size: 14px;
    border: 2px solid var(--gray-400);
    border-radius: 8px;
    background: #fff;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
}

select:focus {
    outline: none;
    border-color: var(--blue-normal);
}

/* Flecha personalizada */
.select-wrapper::after {
    content: "▼";
    font-size: 14px;
    color: var(--gray-400);
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--gray-400);
    width: 8px;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--gray-800);
    width: 8px;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: var(--gray-200);
    border-radius: 4px;
}

body {
    background-color: var(--white);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* estilos generales */
.contenedorPrincipal {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 60px 1fr 35px;
    background-color: var(--gray-900);
    padding: 0 15px;
}

.headerPrincipal {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.leftHeader {
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.titlePage {
    font-weight: bold;
    color: var(--gray-400);
    overflow: hidden;
    animation: fadeIn 0.6s forwards;

}

.btnMenu {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-normal);
    border: 1px solid var(--primary-normal);
    color: var(--gray-800);
    animation: fadeIn 0.6s forwards;

    transition: all 0.2s ease;
}

.btnMenu:hover {
    background-color: var(--primary-hover);
    border: 1px solid var(--primary-hover);
    color: var(--white);
    cursor: pointer;
}

.btnAgregar {
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px solid var(--primary-normal);
    background-color: var(--primary-normal);
    color: var(--gray-800);
    font-size: 11px;
    font-weight: 700;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    animation: fadeIn 0.6s forwards;

    transition: all 0.2s ease;
}

.btnAgregar:hover {
    background-color: var(--primary-hover);
    color: var(--white);
    cursor: pointer;
}

.centerHeader {
    width: 700px;
    height: 40px;
    background-color: var(--gray-800);
    border: 1px solid var(--gray-700);
    border-radius: 20px;
    padding: 3px;
    overflow: hidden;
    display: flex;
    gap: 10px;
    animation: fadeIn 0.6s forwards;
    align-items: center;
}

.inputBuscar {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    padding-left: 10px;
    color: var(--white);
    font-size: 14px;
}

.iconBuscar {
    color: var(--gray-400);
    margin-right: 10px;
}

.rightHeader {
    width: 220px;
    height: 40px;
    border-radius: 20px;
    background-color: var(--gray-800);
    border: 1px solid var(--gray-700);
    padding: 3px;
    overflow: hidden;
}


.bodyPrincipal {
    width: 100%;
    height: 100%;
    background-color: var(--white);
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid var(--gray-100);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.14);
}


.footerPrincipal {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    color: var(--gray-500);
    text-transform: uppercase;
    font-size: 11px;
    padding-top: 5px;
    font-weight: bold;
}

/* estilo para el menu */
.contenedorMenu {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(5px);
    padding: 10px;
    position: fixed;
    top: 0;
    z-index: 500;
    display: none;
    transition: all 0.2s ease;
}

.menu {
    width: 250px;
    height: 100%;
    overflow: hidden;
    padding: 10px;
    position: relative;
    background-color: var(--gray-900);
    border: 1px solid var(--gray-600);
    border-radius: 15px;
    box-shadow: 6px 0px 18px -3px rgba(0, 0, 0, 0.20);
    -webkit-box-shadow: 6px 0px 18px -3px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 6px 0px 18px -3px rgba(0, 0, 0, 0.20);
    opacity: 0;
    display: flex;
    left: -250px;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.2s ease;
}

.topMenu {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.logoBox {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--gray-800);
}

.leftLogo {
    display: flex;
    gap: 10px;
}

.titleMenu {
    color: var(--gray-100);
    font-weight: bold;
    text-transform: uppercase;
}

.titleBox span {
    font-size: 11px;
    padding: 3px 0;
    position: relative;
    top: -3px;
    color: var(--gray-400);
}

.logo {
    width: 45px;
    height: 45px;
    background-color: var(--primary-normal);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gray-800);
}

.btnCloseMenu {
    color: var(--white);
    position: relative;
    padding: 5px;
    border-radius: 50%;
    background-color: var(--gray-700);
    left: -4px;
    font-size: 20px !important;
    transition: all 0.2s ease;
}

.btnCloseMenu:hover {
    cursor: pointer;
    background-color: var(--red-normal);
}

.menuItemBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menuItem {
    width: 100%;
    display: flex;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 12px;
    align-items: center;
    font-weight: 400;
    background-color: transparent;
    border: 1px solid transparent;
    color: var(--gray-400);
    transition: all 0.2s ease;
}

.menuItem:hover {
    cursor: pointer;
    background-color: var(--gray-800);
    color: var(--white);
    gap: 15px;
}

.menuActive {
    background-color: var(--primary-normal) !important;
    color: var(--gray-800) !important;
    font-weight: 700;
    gap: 15px !important;
}


.btnSesion {
    width: 100%;
    height: 40px;
    background-color: var(--gray-800);
    border-radius: 10px;
    color: var(--white);
    font-size: 12px;
    font-weight: bold;
    border: 1px solid var(--gray-700);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: all 0.2s ease;
}

.btnSesion:hover {
    background-color: var(--red-hover);
    border: 1px solid var(--red-normal);
    cursor: pointer;
}


/* estilo para modal normal */
.contenedorModal {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(5px);
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    top: 0;
    z-index: 500;
    overflow: auto;
}

.modal {
    height: fit-content;
    border-radius: 10px;
    background-color: var(--white);
    transform: scale(0.5);
    opacity: 0;
    overflow: hidden;
    box-shadow: 0 14px 38px rgba(0, 0, 0, 0.20), 0 10px 10px rgba(0, 0, 0, 0.12);
}

.modalHeader {
    width: 100%;
    padding: 7px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tituloHeader {
    height: 40px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 12px;
    gap: 10px;
    color: var(--gray-700);
    margin-left: 8px;
}

.btnCloseModal {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-top: -6px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--gray-200);
    transition: all 0.2s ease;
}

.btnCloseModal:hover {
    cursor: pointer;
    background-color: var(--red-normal);
    color: var(--white);
}

.modalBody {
    width: 100%;
    padding: 0 15px 0 15px;
}

.modalFooter {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: end;
    gap: 10px;
}

.btnCancelar {
    width: 150px;
    height: 40px;
    border: 1px solid var(--gray-200);
    background-color: var(--gray-100);
    color: var(--gray-800);
    font-size: 12px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transition: all 0.2s ease;
}

.btnCancelar:hover {
    background-color: var(--gray-200);
    cursor: pointer;
}

.btnGuardar {
    width: 150px;
    height: 40px;
    border: none;
    background-color: var(--blue-normal);
    color: var(--white);
    font-size: 12px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transition: all 0.2s ease;
}

.btnGuardar:hover {
    background-color: var(--blue-hover);
    cursor: pointer;
}

.btnEliminar {
    width: 150px;
    height: 40px;
    border: none;
    background-color: var(--red-normal);
    color: var(--white);
    font-size: 12px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transition: all 0.2s ease;
}

.btnEliminar:hover {
    background-color: var(--red-hover);
    cursor: pointer;
}

.mensajeError {
    width: 100%;
    padding: 0 20px 15px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inputId {
    display: none;
}

.tituloForm {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 34px;
    font-size: 13px;
    align-items: center;
    font-weight: 700;
    color: var(--gray-700);
}

.tituloForm span {
    color: var(--red-normal);
    font-size: 11px;
    display: none;
}

.inputForm {
    width: 100%;
    height: 43px;
    border: 1px solid var(--gray-200);
    background-color: var(--gray-100);
    border-radius: 10px;
    padding-left: 10px;
    outline-color: var(--blue-normal);
    margin-bottom: 10px;
}

.textAreaForm {
    width: 100%;
    height: 80px;
    resize: none;
    outline-color: var(--blue-normal);
    padding: 10px;
    border: 1px solid var(--gray-200);
    background-color: var(--gray-100);
    border-radius: 10px;
}


/* estilo para las notificaciones */
.msgConfirmacion {
    width: 440px;
    padding: 13px;
    position: fixed;
    display: flex;
    align-items: center;
    gap: 15px;
    top: 10px;
    color: var(--white);
    right: 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    z-index: 1000;
    background-color: var(--green-normal);
    border: 1px solid var(--green-light);
    transform: translateY(-120px);
    transition: all 0.2s ease;
}

.msgConfirmacion span {
    font-size: 52px;
}

.msgError {
    width: 440px;
    padding: 13px;
    position: fixed;
    display: flex;
    align-items: center;
    gap: 15px;
    top: 10px;
    color: var(--white);
    right: 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    z-index: 1000;
    background-color: var(--red-hover);
    border: 1px solid var(--red-normal);
    transform: translateY(-120px);
    transition: all 0.2s ease;
}

.msgError span {
    font-size: 52px;
}

/* Clases para activar animaciones */
.animarIn {
    display: flex;
    transform: translateY(0);
    animation: fadeIn 0.6s forwards;
}

.animarOut {
    display: none;
    transform: translateY(-120px);
    animation: fadeOut 0.6s forwards;
}


/* Animación aparecer */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Animación desaparecer */
@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}