@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --white: #ffffff;

    --gray-50: #fafafa;
    --gray-100: #f5f5f5;
    --gray-200: #e5e5e5;
    --gray-300: #d4d4d4;
    --gray-400: #a3a3a3;
    --gray-500: #737373;
    --gray-600: #525252;
    --gray-700: #404040;
    --gray-800: #262626;
    --gray-900: #171717;
    --gray-950: #0a0a0a;

    --red-light: #fee2e2;
    --red-normal: #ef4444;
    --red-hover: #b91c1c;

    --green-light: #dcfce7;
    --green-normal: #17a14a;
    --green-hover: #087630;

    --orange-light: #ffedd5;
    --orange-normal: #f97316;
    --orange-hover: #c2410c;
}

body {
    font-family: sans-serif;
    background-color: var(--white);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* css para el header */
.headerMenu {
    width: 100%;
    background-color: var(--gray-950);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

.leftMenu {
    width: 250px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
}

.btnMenuBox {
    width: 40px;
    height: 40px;
    background-color: var(--gray-900);
    border: 1px solid var(--gray-800);
    color: var(--gray-200);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
}

.btnMenuBox:hover {
    cursor: pointer;
    background-color: var(--gray-800);
    border: 1px solid var(--gray-700);
}
.btnMenuBox:active{
    background-color: var(--gray-700);
}

.titlePage {
    font-size: 16px;
    font-weight: 600;
    color: var(--gray-300);
}

.centerMenu {
    width: 90%;
    max-width: 600px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid var(--gray-800);
    background-color: var(--gray-900);
}

.rightMenu {
    width: 250px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 10px;
}

.btnAgregarDocente {
    display: flex;
    gap: 10px;
    height: 40px;
    align-items: center;
    padding: 0 15px;
    border: 1px solid var(--gray-800);
    background-color: var(--gray-900);
    color: var(--white);
    border-radius: 5px;
    transition: all 0.2s ease;
}

.btnAgregarDocente:hover {
    background-color: var(--green-normal);
    border: 1px solid var(--green-normal);
    cursor: pointer;
}
.btnAgregarDocente:active{
    background-color: var(--green-hover);
}

.btnAgregarDocente p {
    font-weight: 500;
    font-size: 11px;
}

/* css para contenedor pagina y table*/
.headerTable{
    width: 100%;
    background-color: var(--gray-900);
    color: var(--gray-300);
    position: sticky;
    top: 60px;
    padding: 10px 0;
    font-size: 11px;
    font-weight: 700;
}
.headerItemBox{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 110px;
}
.headerItem{
    border-right: 1px solid var(--gray-600);
    padding-left: 10px;
}
.ctrlTable{
    border-right: none;
}
.itemTableBox{
    width: 100%;
    border-bottom: 1px solid var(--gray-300);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 110px;
    transition: all 0.2s ease;
}
.itemTableBox:hover{
    background-color: var(--gray-100);
}
.itemTableBox:hover .btnTableBox{
    color: var(--gray-600);
}
.tableItem{
    border-right: 1px solid var(--gray-300);
    padding-left: 10px;
    font-size: 13px;
    font-weight: 600;
    color: var(--gray-700);
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    padding: 10px 10px;
    display: flex;
    align-items: center;
}
.btnTableBox{
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: space-around;
    color: var(--gray-400);
}

.editBtn{
    transition: all 0.2s ease;
}
.deleteBtn{
    transition: all 0.2s ease;
}
.editBtn:hover{
    cursor: pointer;
    color: var(--green-normal);
}
.deleteBtn:hover{
    cursor: pointer;
    color: var(--red-normal);
}

/* css para el contenedor y el modal */
.contenedorModal {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    overflow: hidden;
    z-index: 100;
    display: none; /*por defecto es none pero si se activa debe ser flex*/
    top: 0;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 800px;
    height: 500px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0px 10px 42px 0px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: 0px 10px 42px 0px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0px 10px 42px 0px rgba(0, 0, 0, 0.23);
}