@import url('reset.css');
@import url('colorPalette.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded');

@view-transition {
    navigation: auto;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--gray-400);
    width: 8px;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--gray-800);
    width: 8px;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: var(--gray-200);
    border-radius: 4px;
}
.select-wrapper {
    position: relative;
    width: 100%;
}

select {
    appearance: none;
    /* Oculta la flecha por defecto */
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    padding: 8px 40px 8px 15px;
    font-size: 14px;
    border: 2px solid var(--gray-400);
    border-radius: 30px;
    background: #fff;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
}

select:focus {
    outline: none;
    border-color: var(--blue-normal);
}

/* Flecha personalizada */
.select-wrapper::after {
    content: "▼";
    font-size: 14px;
    color: var(--gray-400);
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.contenedorPrincipal{
    width: 100%;
    height: 100vh;
    overflow: auto;
}

body {
    background-color: var(--white);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header{
    width: 100%;
    height: 80px;
    background-color: var(--blue-normal);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logoCerp{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 4px solid var(--white);
}
.contenedorFiltros{
    width: 950px;
    height: 60px;
    background-color: var(--blue-hover);
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 120px;
    gap: 10px;
    padding: 10px;
}
.inp{
    display: none;
}
.btnFiltrar{
    width: 100%;
    height: 100%;
    background-color: var(--orange-normal);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    font-weight: bold;
    color: var(--white);
    transition: all 0.2s ease;
}
.btnFiltrar:hover{
    background-color: var(--orange-hover);
    cursor: pointer;
}
.btnAux{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: var(--blue-hover);
}
.headerDias{
    width: 100%;
    background-color: var(--blue-hover);
    position: sticky;
    top: 0;
    padding: 5px 0;
    display: grid;
    grid-template-columns: 140px 1fr 180px;
}
.horarioTitulo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: var(--white);
    font-weight: bold;
    font-size: 12px;
    border-right: 1px solid var(--blue-normal);
}
.contenedorDias{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
}
.celdaDia{
    width: 100%;
    display: flex;
    font-size: 12px;
    font-weight: bold;
    justify-content: center;
    border-right: 1px solid var(--blue-normal);
    color: var(--white);
}
.celdaDia:last-child{
    border: none;
}
.cont{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 180px;
}
.contenedorDatos{
    width: 100%;
}
.filaDatos{
    width: 100%;
    height: 190px;
    display: grid;
    grid-template-columns: 140px 1fr;
    border-bottom: 1px solid var(--gray-300);
}
.filaDatos:last-child{
    border: none;
}
.celdaHorario{
    width: 100%;
    height: 100%;
    background-color: var(--gray-100);
    border-right: 1px solid var(--gray-300);
    color: var(--gray-600);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}
.celdaDatos{
    width: 100%;
    height: 100%;
    border-right: 1px solid var(--gray-300);
    padding: 15px;
    font-size: 14px;
    font-weight: 600;
    color: var(--gray-700);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.celdaDatos:last-child{
    border: none;
}
.contenedorHorarios{
    width: 100%;
    height: 100%;
    display: flex;
}
.asigD{
    background-color: var(--primary-normal);
    border-radius: 5px;
    color: var(--gray-800);
    font-size: 13px;
    padding: 5px;
    padding-top: 6px;
    text-transform: uppercase;
    font-weight: bold;
}
.profD{
    font-size: 12px;
}
.salonD{
    padding: 4px;
    border-radius: 5px;
    background-color: var(--gray-200);
    color: var(--gray-700);
}
.vacio{
    color: var(--gray-400);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-style: italic;
    font-weight: 400;
}
.sab{
    width: 100%;
    height: 100%;
    border-left: 1px solid var(--gray-300);
}
.sabTitle{
    height: 22px;
    display: flex;
    align-items: center;
    border-left: 1px solid var(--blue-normal);
    margin-top: 5px;
}
.filaDatosSab{
    width: 100%;
    height: 190px;
    border-bottom: 1px solid var(--gray-300);
}
.horaD{
    margin-top: 4px;
}

.msg{
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    color: var(--gray-500);
    background-color: var(--gray-100);
}
.msg span{
    font-size: 140px;
}
.msg p{
    font-size: 30px;
    text-transform: uppercase;

}
.landingPage{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 0;
}
.landingPage img{
    height: 500px;
}

.landingPage h1{
    display: flex;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.46);
    gap: 10px;
    align-items: center;
    color: var(--white);
    background-color: var(--orange-normal);
    padding: 10px;
    border-radius: 10px;
}
.landingPage h1 span{
    font-size: 48px;
}