/* css para la tabla de listar docentes */
.headerTableDocentes {
    width: 100%;
    background-color: var(--gray-800);
    color: var(--gray-300);
    font-size: 12px;
    font-weight: 600;
    padding: 10px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 150px;
    align-items: center;
    position: sticky;
    top: 60px;
}

.titleHeaderTableDocentes {
    border-right: 1px solid var(--gray-600);
    padding-left: 10px;
}

.rowTableDocente {
    width: 100%;
    background-color: var(--white);
    padding: 10px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 150px;
    align-items: center;
    border-bottom: 1px solid var(--gray-200);
    transition: all 0.2s ease;
}

.rowTableDocente:hover {
    background-color: var(--gray-100);
}

.ctrlTable {
    text-align: center;
}

.itemTableDocente {
    padding-left: 10px;
    font-size: 14px;
    font-weight: 600;
    color: var(--gray-700);
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

.btnTableBox {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    color: var(--gray-400);
}

.rowTableDocente:hover .itemTableDocente .btnTableBox span {
    color: var(--gray-700);
}

.editBtn {
    padding: 6px;
    border-radius: 5px;
    background-color: transparent;
    font-size: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
}

.deleteBtn {
    padding: 6px;
    border-radius: 5px;
    background-color: transparent;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
}

.editBtn:hover {
    cursor: pointer;
    background-color: var(--green-normal);
    color: var(--white) !important;
}

.deleteBtn:hover {
    cursor: pointer;
    background-color: var(--red-normal);
    color: var(--white) !important;
}


/* css para el modal form de agregar y editar */
.modalFormBox {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    z-index: 100;
    overflow: auto;
    padding: 40px 0;
    display: none;
}

.modalForm {
    width: 450px;
    padding: 10px;
    background-color: var(--gray-100);
    border-radius: 10px;
    margin: 0 auto;
    margin-top: -100px;
    box-shadow: 0px 10px 46px 0px rgba(0, 0, 0, 0.87);
    -webkit-box-shadow: 0px 10px 46px 0px rgba(0, 0, 0, 0.87);
    -moz-box-shadow: 0px 10px 46px 0px rgba(0, 0, 0, 0.87);
    transition: all 0.2s ease;
}
.btnCloseModal{
    cursor: pointer;
}
.btnCloseModal span{
    padding: 5px;
    background-color: var(--gray-800);
    border-radius: 20px;
    color: var(--white);
    transition: all 0.2s ease;
}
.btnCloseModal:hover span{
    background-color: var(--red-normal);
}

.headerModal{
    width: 100%;
    display: flex;
    padding-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
}
.titleHeaderModal{
    display: flex;
    gap: 10px;
    align-items: center;
}
.bodyModal{
    width: 100%;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 10px 15px 5px 15px;
}
.labelBox{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    padding-top: 5px;
    display: flex;
    align-items: end;
}
.labelBox p{
    font-weight: 600;
    font-size: 14px;
    color: var(--gray-800);
}
.labelBoxError{
    font-size: 12px;
    color: var(--red-normal);
    font-weight: 600;
    display: none;
}
.inputForm{
    width: 100%;
    height: 40px;
    border: 1px solid var(--gray-200);
    background-color: var(--gray-50);
    border-radius: 6px;
    padding-left: 10px;
    margin-bottom: 10px;
}
.inputForm:focus {
    border: 2px solid var(--blue-hover);
    border-color: var(--blue-normal);
    outline: none;
}
.inputFormArea{
    width: 100%;
    padding: 10px;
    height: 100px;
    border: 1px solid var(--gray-200);
    background-color: var(--gray-50);
    border-radius: 6px;
    margin-bottom: 10px;
    resize: none;
}
.inputFormArea:focus {
    border: 2px solid var(--blue-hover);
    border-color: var(--blue-normal);
    outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.footerModal{
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-top: 10px;
}
.btnCancelModal{
    width: 100%;
    background-color: var(--gray-200);
    color: var(--gray-800);
    font-weight: 600;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    transition: all 0.2s ease;
}
.btnCancelModal:hover{
    background-color: var(--gray-300);
    cursor: pointer;
}

.btnConfirmModal{
    width: 100%;
    background-color: var(--green-normal);
    color: var(--white);
    font-weight: 500;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    transition: all 0.2s ease;
}
.btnConfirmModal:hover{
    background-color: var(--green-hover);
    cursor: pointer;
}
.btnDeleteModal{
    width: 100%;
    background-color: var(--red-normal);
    color: var(--white);
    font-weight: 500;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    transition: all 0.2s ease;
}
.btnDeleteModal:hover{
    background-color: var(--red-hover);
    cursor: pointer;
}
.msgOk{
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px 10px;
}
.msgOk span{
    font-size: 48px;
    color: var(--green-normal);
}
.msgOk p{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    color: var(--gray-600);
}

.msgDelete{
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px 10px;
}

.msgDelete p{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    color: var(--gray-600);
}

.emptyBox{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding-top: 100px;
    font-size: 28px;
    text-transform: uppercase;
    color: var(--gray-300);
    font-weight: 700;
}
.emptyBox span{
    font-size: 88px;
}