:root {
    --white: #ffffff;

    --gray-50: #fafafa;
    --gray-100: #f5f5f5;
    --gray-200: #e5e5e5;
    --gray-300: #d4d4d4;
    --gray-400: #a3a3a3;
    --gray-500: #737373;
    --gray-600: #525252;
    --gray-700: #404040;
    --gray-800: #262626;
    --gray-900: #171717;
    --gray-950: #0a0a0a;

    --red-light: #fee2e2;
    --red-normal: #ef4444;
    --red-hover: #b91c1c;

    --green-light: #0ff35f;
    --green-normal: #17a14a;
    --green-hover: #087630;

    --orange-light: #ffedd5;
    --orange-normal: #f97316;
    --orange-hover: #c2410c;

    --blue-light: #5388fb;
    --blue-normal: #2563eb;
    --blue-hover: #153fb2;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fijoSuperior{
    display: flex;   
    border-bottom:3px solid black;
    justify-content: space-between;
    top: 0;
    width: 100vp;
    padding: 20px;
    background-color:#2563eb;
    
}
.buscador{
    width: 50%;
    padding: 10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.logo{
    width: 100px;
    height: 100px;
    justify-content: space-between;
}
.lo{
    width: 100px;
    height: 100px;
    
}
.boton{
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}
.enviar{
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}
.contenido{
    display: grid;
    grid-template-columns: 150px 1fr;
    width: 100px;
    height: 100px;
}
.relleno{
    position: sticky;
    top: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;

}
.barraExtra{
    position: sticky;
    top: 0;
    width: 100%;
    height: 40px;
    background-color: #2563eb;
}

.dias{
    width: 100%;
    background-color:#2563eb;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.calendario{
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    background-color: white;
}

.itemhorario{
    text-align: center;
    border-bottom:1px solid black;
    background-color:#2563eb;;
    width:100%;
    padding: 30px;
}
.contenedor{
    
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
}
.columnaDias{
    border-bottom: rgb(0, 0, 0);
    background-color: white;
    border-style: solid;
    height: 100%;
    width: 100%;
}
.columnaDias div{
    height: 79px;
    border-bottom: #0a0a0a;
}
.columnaCadaDia{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 78px;
    background-color: #087630;
    border-bottom: 1px solid black;
    border-radius: 10%;
    text-align:center;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    
}